@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bungee&family=Jersey+20&family=Knewave&family=Sigmar+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bodoni Moda SC", serif;
    scroll-behavior: smooth;
}


.bg {
    background: url('/img/bodyBg.jpg');
    background-position: cover;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.gradient-text {

    font-weight: bold;
    background: linear-gradient(45deg, #ff0000, #afee02, #ff2ed2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.neon-line {
    width: 100%;
    height: 3px;
    background-color: red;
    box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red;
}

.about img {
    float: left;
    margin: 0 15px 15px 0;
    max-width: 50%;
    border: 2px solid red;
    box-shadow: 0 0 20px red;
}

.bg-blurry {
    backdrop-filter: blur(9px);
    background: rgba(83, 83, 83, 0.3);
    border: 1px solid #cac8c8;
    border-radius: 15px;
    z-index: 50;
    padding: 12px;
}